<!-- about.html -->


<div class="jumbotron text-center" style="background-color:white; padding-left: 350px; padding-right:350px;">
	<article>
		<img src="mentoring.png" align="left" style="width:300px; height:300px;"></img> <p><h2> Mentor Network</h2> 
		er et selskap etablert for å styrke samarbeidet med Podium AS om å skape et nettverk mellom dyktige kvinner og menn med innvandrerbakgrunn i arbeidslivet og arbeidssøkere på Podiums kurs; jobb og muligheter.
		MN skal bidra med mentorer som skal hjelpe deltagerne på jobb og muligheter med å komme raskere inn i arbeidslivet.
		MN er et team av fagfolk fra ulike felt som Informatikk, ingeniør, lærer/pedagog og bedriftsøkonomi. MN har som mål å yte tjenester for minoritetsgrupper i Norge. Vi er her for å oppfordre enkeltpersoner til å sikte høyere ved å matche mentorer og klienter som har samme interesse og kulturell bakgrunn. Vå rt bidrag er å identifisere, støtte, gi veiledning og kompetanse på sine respektive
		felt.</p>

		<p>Mentorordningen tar sikte på å heve forståelse for norskarbeidsliv blant innvandrere, i tillegg inspirere deltagerne til å komme seg inn i arbeidslivet. Mentorordningen hjelper på sikt minoritetsmiljøer ved å vise fram folk som har lykkes i arbeidslivet. Dette er med på å heve selvtilliten blant innvandrere som sliter med å komme seg inn i arbeidsmarkedet.</p> 

		<p>Vi mener at Mentor nettverket, bestående av suksessfulle forbilder vil bidra til at deltakerne vil få hjelp av mennesker med samme bakgrunn og felles kulturforståelse. Mentorene har en god forståelse av de normer og regler som gjelder i norskarbeidsliv og kan dermed hjelpe deltakerne på riktig vei til å oppnå deres mål.</p>
		<p>	<h3>Visjon og verdier</h3>
		Vår visjon er å gi støtte til innvandrere som møter utfordringer i og utenfor arbeidslivet, ved å tilby dyktige mentorer som kursdeltagerne kan relatere seg med.</p>
	</article>


	<p>{{ message }}</p>
</div>
