<!-- about.html -->

<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<div class="8u 12u(2)">
				<div id="content">

					<!-- Content -->

					<article>
						<header>
							<h2>Om Mentor Network</h2>
							<p><!-- undertittel her om øsnket--></p>
						</header>

						<span class="image featured"><img src="images/about-pic1.jpg" alt="" /></span>

						<p>
							Vi er et selskap etablert for å styrke samarbeidet med Podium AS om å skape et nettverk mellom dyktige kvinner og menn med innvandrerbakgrunn i arbeidslivet og arbeidssøkere på Podiums kurs; jobb og muligheter.
						</p>

						<p>
							MN skal bidra med mentorer som skal hjelpe deltagerne på jobb og muligheter med å komme raskere inn i arbeidslivet.
							MN er et team av fagfolk fra ulike felt som Informatikk, ingeniør, lærer/pedagog og bedriftsøkonomi. MN har som mål å yte tjenester for minoritetsgrupper i Norge. Vi er her for å oppfordre enkeltpersoner til å sikte høyere ved å matche mentorer og klienter som har samme interesse og kulturell bakgrunn. Vå rt bidrag er å identifisere, støtte, gi veiledning og kompetanse på sine respektive
							felt.
						</p>

						<h3>Motivasjon og Inspirasjonskilde</h3>
						<p>
							Mentorordningen tar sikte på å heve forståelse for norskarbeidsliv blant innvandrere, i tillegg inspirere deltagerne til å komme seg inn i arbeidslivet. Mentorordningen hjelper på sikt minoritetsmiljøer ved å vise fram folk som har lykkes i arbeidslivet. Dette er med på å heve selvtilliten blant innvandrere som sliter med å komme seg inn i arbeidsmarkedet.
						</p>

						<p>
							Vi mener at Mentor nettverket, bestående av suksessfulle forbilder vil bidra til at deltakerne vil få hjelp av mennesker med samme bakgrunn og felles kulturforståelse. Mentorene har en god forståelse av de normer og regler som gjelder i norskarbeidsliv og kan dermed hjelpe deltakerne på riktig vei til å oppnå deres mål.
						</p>

						<h3>Visjon og verdier</h3>
						<p>
							Vår visjon er å gi støtte til innvandrere som møter utfordringer i og utenfor arbeidslivet, ved å tilby dyktige mentorer som kursdeltagerne kan relatere seg med.
						</p>
					</article>

				</div>
			</div>
			<div class="4u 12u(2)">
				<div id="sidebar">

					<!-- Sidebar -->

					<section>
						<h3>Hvorfor Mentor Network?</h3>
						<img src="images/moreWork.png">
						<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
							Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
							Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
							<footer>
								<a href="#practical" class="button">Praktisk eksempel</a>
							</footer>
						</section>

						<section>
							<img src="images/moreWork.png">
							<h3>Flere eksempler</h3>
							<ul class="links">
								<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
								<li><a href="#">Ornare in hendrerit in lectus</a></li>
								<li><a href="#">Semper mod quis eget mi dolore</a></li>
								<li><a href="#">Consequat etiam lorem phasellus</a></li>
								<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
								<li><a href="#">Semper mod quisturpis nisi</a></li>
							</ul>
						</section>

					</div>
				</div>
			</div>
		</div>
	</section>			