<!-- about.html -->

<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<div class="8u 12u(2)">
				<div id="content">

					<!-- Content -->

					<article>
						<header>
							<h2>Om Mentor Network</h2>
							<p><!-- undertittel her om øsnket--></p>
						</header>

						<span class="image featured"><img src="images/about-pic1.jpg" alt="" /></span>

						<p>
							Vi er et selskap som ble etablert for å skape et nettverk mellom dyktige kvinner og menn med innvandrerbakgrunn i arbeidslivet og arbeidssøkere på jobbkurs. Kurs som "jobb og muligheter" tilbys av blant annet Podium AS som vi har et samarbeid med.
						</p>

						<p>
							MN skal bidra med mentorer som skal hjelpe deltakerne på jobbkurs med å komme raskere inn i arbeidslivet.
							MN består av et team med ulike fagfolk slik som prosjektledere og IKT, Ingeniører, lærere og pedagoger og bedriftsøkonomer. Dette er fagfolk som har lang botid i Norge og har jobbet innen mange forskjellige yrker.  MN har som mål å yte tjenester for minoritetsgrupper i Norge, vi er her for å oppfordre enkeltpersoner til å sikte høyere, dette gjør vi ved å matche mentorer og kursdeltakere som har samme kulturbakgrunn. Vårt bidrag er å kartlegge, identifisere, gi støtte og veiledning og overføre normer og kulturforståelse for arbeidslivet i Norge til deltakere.
						</p>

						<h3>Motivasjon og Inspirasjonskilde</h3>
						<p>
							Mentorordningen tar sikte på å heve forståelse for norskarbeidsliv for minoritetsgrupper, i tillegg inspirere deltagerne til å komme seg inn i fast lønnet arbeid. Mentorordningen hjelper på sikt minoritetsmiljøer ved å vise fram folk som har lykkes i arbeidslivet. Dette vil heve selvtilliten blant innvandrere som sliter med motivasjonen for å komme seg inn i arbeidsmarkedet.
						</p>
	
						<p>
							Vi mener at Mentor nettverket bestående av suksessfulle forbilder vil bidra til at deltakerne vil få hjelp av mennesker med samme bakgrunn og felles kulturforståelse. Mentorene har en god forståelse av de normer og regler som gjelder i norskarbeidsliv og kan dermed hjelpe deltakerne på riktig vei til å oppnå deres mål med å få en varig lønnet arbeid i Norge.
						</p>

						<h3>Visjon og verdier</h3>
						<p>
							Vår visjon er å gi støtte til mennesker som ikke lykkes med å komme seg inn i arbeidslivet, ved å tilby dyktige mentorer som kan motivere, støtte, veilede og som kursdeltagerne kan relatere seg med.
						</p>
					</article>

				</div>
			</div>
			<div class="4u 12u(2)">
				<div id="sidebar">

					<!-- Sidebar -->

					<section>
						<h3>Hvorfor Mentor Network?</h3>
						
						<p><i>"Vårt arbeid erstatter ikke jobbkurs eller lignende tiltak. Vi skal bidra med å være en støtteledd i arbeidet med å få flere ut i arbeid, ved å motivere dem og overføre en viktig skjult kompetanse og bedre forståelse av arbeidslivet i Norge."</i></p>
							<footer>
								<a href="#practical" class="button">Praktisk eksempel</a>
							</footer>
						</section>

						<section>
						
							<h3>Relevante nettsteder</h3>
							<ul class="links">
								<li><a href="http://www.podium.no/">Podium AS</a></li>
								<li><a href="http://nav.no/">NAV</a></li>
								<li><a href="http://www.fafoarkiv.no/pub/rapp/20374/20374.pdf">Fafo rapport</a></li>
								<li><a href="http://www.jobbnorge.no">Jobbnorge</a></li>
								
							</ul>
						</section>
						<a href="#service" class="button"><i class="fa fa-chevron-right fa-fw"></i>Til Tjenester</a>

					</div>
				</div>
			</div>
		</div>
	</section>			