<!-- contact.html -->

<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->
					
							<article>
								<header>
									<h2>Kontakt oss</h2>
									<p><!-- undertittel her om øsnket--></p>
								</header>
								
								<span class="image featured"><img src="images/Contact.jpg" alt="" /></span>
								
								<p>Her kan du komme i kontakt med Mentor Network:</p>

							    <dl class="dl-horizontal">

							        <dt class="dl-horizontal"><i class="fa fa-male fa-fw"></i>Kontaktperson</dt>

							        <dd class="dl-horizontal">Suleiman Jama</dd>

							        <dt class="dl-horizontal"><i class="fa fa-mobile fa-fw"></i>Tlf</dt>

							        <dd class="dl-horizontal">98014681</dd>

							        <dt class="dl-horizontal"><i class="fa fa-envelope fa-fw"></i>Epost</dt>

							        <dd class="dl-horizontal">info@mentornetwork.no</dd>

							        <dt class="dl-horizontal"><i class="fa fa-institution fa-fw"></i>Postadresse</dt>

							        <dd class="dl-horizontal">Lindebergåsen 50A, 1068 Oslo</dd>

							    </dl>
							</article>
						<div ng-controller="mapController">

							<div id="map-canvas" ng-init="initialize()">
							</div>
						</div>
					</div>

				</div>
			</section>		