<!-- contact.html -->
<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->
					
							<article>
								<header>
									<h2>Kontakt oss</h2>
									<p><!-- undertittel her om øsnket--></p>
								</header>
								
								<span class="image featured"><img src="images/Contact.jpg" alt="" /></span>
								
							

  							<dl class="dl-horizontal">
								<div style="text-align: center; border-spacing: 0; display:table; " cellspacing="0">
							
								<div style="display:table-row;">
								<span style="display:table-cell;">
					 				<img src="images/suleiman.jpg" alt="" width="100px" width="100px" style="border:solid gray 1px;" /> 
					 				<br><strong>Suleiman Jama </strong> <br>Partner og Daglig leder
					 				<br>
					 				<i class="fa fa-mobile fa-fw"></i>+47 98014681
					 			</span>
					 								 			
					 		
								<span style="display:table-cell; padding-left: 70px; padding-right: 70px;">
									<br>
									<i class="fa fa-envelope fa-fw"></i>info@mentornetwork.no <br>
									<i class="fa fa-institution fa-fw"></i>Grønliveien 23, 1056 Oslo
								</span>
								

								<span style="display:table-cell;">
					 			 	<img src="images/yasin.jpg" alt="" style="border:solid gray 1px;" /> 
					 			 	<br>
					 			 	<strong>Yasin Jama </strong> <br>Partner og Forretningsutvikler
					 				<br>
					 				<i class="fa fa-mobile fa-fw"></i>+47 46939473
					 			</span>

					 			
							  </div>

							  </div>
							</dl>
							</article>
		
						<div ng-controller="mapController">

							<div id="map-canvas" ng-init="initialize()">
							</div>
						</div>
					</div>

				</div>
			</section>		