 
<!-- Banner comes here-->
<section id="banner">
	<div id="backImg"></div>
	<header>
		<h2><em> Et nettverk for å fremme arbeid og dialog </em> </h2>

	</header>
</section>

<!-- Then home partial-->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<section class="4u 12u(2)">
				<div class="box highlight" href="#practical">
					
					<a class="icon major fa-wrench" href="#practical"></a>
					<h3><a href="#practical" style="border-bottom: none;"> Praktisk eksempel</a></h3>
					
					<p>Her kommer et praktisk eksempel på Mentor Networks arbeid...</p>
				</div>
			</section>
			<section class="4u 12u(2)">
				<div class="box highlight">
					<a class="icon major fa-pencil" href="#projects"></a>
					<h3><a href="#projects" style="border-bottom: none;"> Prosjekter</a></h3>
					<p>Her kommer noe av prosjektene vi har på gang med våre samarbeidspartnere.</p>
				</div>
			</section>
			<section class="4u 12u(2)">
				<div class="box highlight">
					<a class="icon major fa-envelope" href="#contact"></a>
					<h3><a href="#contact" style="border-bottom: none;"> Kontakt oss</a></h3>
					<p>Benytt kontaktskjemaet for å komme i kontakt med oss uforpliktende.</p>
				</div>
			</section>
		</div>
	</div>
</section>
