 
<!-- Banner comes here-->
<section id="banner">
	<div id="backImg"></div>
	<header>
		<h2><em> For å fremme arbeid og dialog </em> </h2>

	</header>
</section>

<!-- Then home partial-->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<section class="4u 12u(2)">
				<div class="box highlight" href="#practical">
					
					<a class="icon major fa-wrench" href="#practical"></a>
					<h3><a href="#practical" style="border-bottom: none;"> Vårt arbeid</a></h3>
					
					<p>Les mer om vårt arbeid og de ulike tjenestene vi tilbyr...</p>
				</div>
			</section>
			<section class="4u 12u(2)">
				<div class="box highlight">
					<a class="icon major fa-pencil" href="#projects"></a>
					<h3><a href="#projects" style="border-bottom: none;"> Prosjekt</a></h3>
					<p>Les mer om pilotprosjektet som vi jobber med for tiden...</p>
				</div>

			</section>
			<section class="4u 12u(2)">
				<div class="box highlight">
					<a class="icon major fa-envelope" href="#contact"></a>
					<h3><a href="#contact" style="border-bottom: none;"> Kontakt oss</a></h3>
					<p>Ta kontakt med oss for å vite mer om vår arbeid...</p>	
				</div>
			</section>
		</div>
	</div>
</section>
