<!-- partners.html -->

<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div class="row 200%">
						<div class="3u 12u(2)">
							<div id="sidebar1">

								<!-- Sidebar 1 -->
							
									<section>
										<h3>Hvordan bli partner</h3>
										<p>
											Mentor Network er på utkikk etter samarbeidspartnere, enten det er ressursterke mentorer som ønsker å bidra med å øke andelen innvandrere i arbeid eller det er foretak som jobber med ulike tiltak for å få folk ut i lønnet arbeid.
											Vi er interessert i å komme i kontakt med dere!
										</p>
										<footer>
											<a href="mailto:suleiman@kaalmo.no" class="button" target="_top">Send oss en e-post</a>
											
										</footer>
									</section>
						
							</div>
						</div>
						<div class="6u 12u(2) important(2)">
							<div id="content">

								<!-- Content -->
							
									<article>
										<header>
											<h2>Mentor Network Partnerskap</h2>
											<p><!-- undertittel --></p>
										</header>
										
										<span class="image featured"><img src="images/partners-pic1.jpg" alt="" /></span>
										
										<p>Mentor Network er godkjent underleverandør og samarbeider med Podium AS. Det er NAV som har godkjent vår mentorvirksomhet som tjenesteleverandør til Podium.
										Vi ønsker også å etablere slike samarbeid med flere aktører i bransjen.
										</p>
										
										<h3>Samarbeidet med Podium</h3>
										<p>Vårt samarbeid med Podium AS startet i 2013 og i januar 2014 ble det etablert en større pilotprosjektsamarbeid med varighet på inntil 1 år.
											I dette samarbeidet har vi utviklet gode rutiner for samhandling og kommunikasjon med Podiums nyopprettede Avdeling for Migrasjon og Språk (MOSA). Denne erfaringen vil forbedre tjenestene vi leverer til Podium og andre aktører.
											Vi har nå fullført ca. 30 mentorsesjoner, foredrag og dialogmøter, og nå er vi i ferd med å fullføre en sluttrapport for denne piloten.

										</p>
									</article>
						
							</div>
						</div>
						<div class="3u 12u(2)">
							<div id="sidebar2">

								<!-- Sidebar 2 -->

									<section>
										<h3>Våre partnere</h3>
										<ul class="links">
											<li><a href="/#">Amet turpis, feugiat sit amet</a></li>
											<li><a href="/#">Ornare in hendrerit lectus</a></li>
											<li><a href="/#">Semper mod quis eget dolore</a></li>
											<li><a href="/#">Consequat lorem phasellus</a></li>
											<li><a href="/#">Amet turpis feugiat amet</a></li>
											<li><a href="/#">Semper mod quisturpis nisi</a></li>
										</ul>
										<footer>
											<a href="/#" class="button">Se fullstendig liste <i class="fa fa-chevron-right fa-fw"></i></a>
										</footer>
									</section>
													
									<section>
										<h3>Siste nytt</h3>
										<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
										Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
										Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
										<footer>
											<a href="#home" class="button"><i class="fa fa-chevron-left fa-fw"></i>Hjem</a>
										</footer>
									</section>

							</div>
						</div>
					</div>
				</div>
			</section>		
