<!-- partners.html -->

<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div class="row 200%">
						<div class="3u 12u(2)">
							<div id="sidebar1">

								<!-- Sidebar 1 -->
							
									<section>
										<h3>Hvordan bli partner</h3>
										<p>
											Mentor Network er på utkikk etter samarbeidspartnere, enten det er ressursterke mentorer som ønsker å bidra med sin kompetanse eller det er foretak som jobber med ulike tiltak for å få folk ut i lønnet arbeid.
											Vi er interessert i å komme i kontakt med dere!
										</p>
										<footer>
											<a href="mailto:info@mentornetwork.no" class="button" target="_top"><i class="fa fa-chevron-right fa-fw"></i>Send oss en melding</a>
											
										</footer>
									</section>
						
							</div>
						</div>
						<div class="6u 12u(2) important(2)">
							<div id="content">

								<!-- Content -->
							
									<article>
										<header>
											<h2>Mentor Network Partnerskap</h2>
											<p><!-- undertittel --></p>
										</header>
										
										<span class="image featured"><img src="images/partners-pic1.jpg" alt="" /></span>

										<p>Mentor Network er godkjent underleverandør og samarbeider med Podium AS. Det er NAV som har godkjent vår mentorvirksomhet som tjenesteleverandør til Podium.
										Vi ønsker også å etablere slike samarbeid med flere aktører i bransjen.
										</p>
										
										<h3>Samarbeidet med Podium</h3>
										<p>Vårt samarbeid med Podium AS startet i 2013 og i januar 2014 ble det etablert en større pilotprosjektsamarbeid med varighet på inntil 1 år.
										I dette samarbeidet har vi utviklet gode rutiner for samhandling og kommunikasjon med Podiums nyopprettede Avdeling for Migrasjon og Språk (MOSA). 

										Denne erfaringen vil forbedre tjenestene vi leverer til Podium og andre aktører.
										Vi har levert mentortjenester til Podiums avdelinger i frogner, Alnabru og Rosenholm. Vi har nå fullført ca. 30 mentorsesjoner, flere foredrag og dialogmøter, og nå er vi i ferd med å avslutte pilotfasen.

										</p>
									</article>
						
							</div>
						</div>
						<div class="3u 12u(2)">
							<div id="sidebar2">

								<!-- Sidebar 2 -->

									<section>
										<h3>Våre partnere</h3>
										<ul class="links">
									<a href="http://podium.no">
										<img src="images/Podium.jpg" alt="" />
									</a>
										</ul>

									<ul class="links">
									<a href="http://mosa.no">
										<img style="width:150px;height:100px;" src="images/mosa.jpg" alt="" />
									</a>
										</ul>

										<footer>
										</footer>
									</section>
													
									<section>
										
										<footer>
											<a href="#contact" class="button"><i class="fa fa-chevron-left fa-fw"></i>Kontakt oss</a>
										</footer>
									</section>

							</div>
						</div>
					</div>
				</div>
			</section>		
