<!-- practical.html -->

<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->
					
							<article>
								<header>
									<h2>Hva jobber vi med?</h2>
									<p><!-- undertittel her om øsnket--></p>
								</header>
												
								<span class="image featured"><img src="images/Work_together.jpg" alt="mentoring" /></span>
							<p>
								Mentor Network leverer tjenester innen mentorering, foredrag og dialogmøter for selskaper og etater som jobber med tiltak for å få folk ut i arbeid.
								Mentortjenestene er tilrettelagt for kursdeltagere som trenger motivasjon, veiledning, økt selvtillitt og å kunne lære mer om arbeidslivet i Norge. Slik at deltageren raskt kommer ut i en varig lønnet arbeid.
							</p>
							<p>
								Foredragene og dialogmøtene er tilrettelagt for ansatte i selskaper og etater som jobber med jobbkurs og ulike tiltak.
							</p>
							<p>
								Når vi får en mentorbestilling vil vi raskt finne en mentor som matcher bestillingen.
								<li> Det avtales med kursinstruktør og deltaker.</li> 
								<li> Mentor møter kursinstruktør og kursdeltaker for å snakke sammen, innledende med kursinstruktør og senere ca. 45 min med kursdeltaker.</li>
								<li> Mentor tar en felles oppsummering av møtet med både kursinstruktør og kursdeltaker. </li>
								<li> Mentor skriver en utfyllende rapport om mentorsesjonen og videre tiltak for kursdeltaker.</li>

							</p>
							</article>
						
						</div>
					</div>

				</div>
			</section>		