<!-- practical.html -->

<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->
					
							<article>
								<header>
									<h2>Prosjekter</h2>
									<p><!-- undertittel her om øsnket--></p>
								</header>
												
								<span class="image featured"><img src="images/jumping.jpg" alt="mentoring" height="400" /></span>
								<h3>Pilotprosjektet</h3>
										<p> I 2014 startet Mentor Network en pilotprosjekt innen mentorordning i samarbeid med Podium AS.
											Pilotprosjektet har en varighet på inntil 1 år, og i 2015 starter vi med evalueringen av dette prosjektet.
											</p>
											<p>

											I dette samarbeidet har vi utviklet gode rutiner for samhandling og kommunikasjon med Podiums nyopprettede Avdeling for Migrasjon og Språk (MOSA). 
											Tanken bak pilotprosjektet som er godkjent av NAV, er å hente nok informasjon om hvordan mentorordningen fungerer i praksis og om tiltaket fungerer for de som benytter seg av den.
											En avsluttende rapport vil leveres i 2015.
											
							</p>
							</article>
						
						</div>
					</div>

				</div>
			</section>		