<!-- services.html -->
    <div class="jumbotron text-center" style="background-color:white;">
     <article>
     <p> Tillitt bygges opp ved fellesforståelse av språk, kultur og normer, og dette ønsker vi å forsterke. Norske arbeidsverdier og koder kan også enklere forklares og overføres til deltagerne.
	  Våre verdier er styrke, kunnskap, tillit og respekt for ulikhet.
		Det er vårt mål å ansette kompetente, kunnskapsrike og pedagogiske mentorer som er lydhør overfor behovene til klientene. Hver mentor medlem vil oppfylle kravene om taushetsplikt, gjensidig respekt og tillitt som er satt av Mentor Network.
	Fokusområder</p>
<div class="lists">
<ul style="list-style-type:disc">
<li>Yrkesrettet veiledning innen sitt fagfelt.</li>
<li> Forståelse for normer og regler i norsk arbeidsliv</li>
<li>Deler av teoridelen på somali innen områder det er viktig med trans
nasjonal forståelse</li>
<li> Samarbeid med arbeidsgivere (hvis mentor og arbeidsgiver er enig om
slikt samarbeid)</li>
<li>Inspirere til høyre utdanning (fagbrev/praksisrettet arbeid)</li>
Dette er noen av kravene som stilles til tjenestene vi leverer. I sin tur vil vår handlefrihet gi oss muligheten til å påvirke og følge opp hver enkelt mentor og klient slik at kvaliteten på tjenestene som leveres holder en god standard.
</ul>
</div>
    </article>
        <p>{{ message }}</p>
    </div>
