<!-- services.html -->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			
			<div class="8u  12u(2) important(2)">
				<div id="content">

					<!-- Content -->
				
						<article>
							<header>
								<h2>Tjenester</h2>
								<p><!-- insert subtitle here --></p>
							</header>
							
							<span class="image featured"><img src="images/service-pic1.jpg" alt="" /></span>
							
							<p>
								Tillitt bygges opp ved fellesforståelse av språk, kultur og normer, og dette ønsker vi å forsterke. Norske arbeidsverdier og koder kan også enklere forklares og overføres til deltagerne.
								Våre verdier er styrke, kunnskap, tillit og respekt for ulikhet.
							</p>
							<p>
								Det er vårt mål å ansette kompetente, kunnskapsrike og pedagogiske mentorer som er lydhør overfor behovene til klientene. Hver mentor medlem vil oppfylle kravene om taushetsplikt, gjensidig respekt og tillitt som er satt av Mentor Network.
							</p>
							
							<h3>Fokusområder</h3>
							
							<ul style="list-style-type: disc; margin-left: 20px;">
								<li>
									Yrkesrettet veiledning innen sitt fagfelt
								</li>

								<li> 
									Forståelse for normer og regler i norsk arbeidsliv
								</li>

								<li>
									Deler av teoridelen på somali innen områder det er viktig med transnasjonal forståelse
								</li>

								<li> 
									Samarbeid med arbeidsgivere (hvis mentor og arbeidsgiver er enig om slikt samarbeid)
								</li>

								<li>
									Inspirere til høyre utdanning (fagbrev/praksisrettet arbeid)
								</li>
							</ul>
					

							<p>
								Dette er noen av kravene som stilles til tjenestene vi leverer. I sin tur vil vår handlefrihet gi oss muligheten til å påvirke og følge opp hver enkelt mentor og klient slik at kvaliteten på tjenestene som leveres holder en god standard.
							</p>
						</article>
			
				</div>
			</div>
			<div class="4u 12u(2)">
				<div id="sidebar">

					<!-- Sidebar -->
				
						<section>
							<h3>Hvordan ta i bruk våre tjenester</h3>
							<img src="images/moreWork.png">
							<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
							Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
							Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
							<footer>
								<a href="/#" class="button">Registrer deg som klient</a>
							</footer>
						</section>

						<section>
							<h3>Ønsker du å bli en del av nettverket?</h3>
							<img src="images/moreWork.png">
							<ul class="links">
								<li><a href="/#">Amet turpis, feugiat et sit amet</a></li>
								<li><a href="/#">Ornare in hendrerit in lectus</a></li>
								<li><a href="/#">Semper mod quis eget mi dolore</a></li>
								<li><a href="/#">Consequat etiam lorem phasellus</a></li>
								<li><a href="/#">Amet turpis, feugiat et sit amet</a></li>
								<li><a href="/#">Semper mod quisturpis nisi</a></li>
							</ul>
							<footer>
								<a href="#partners" class="button"><i class="fa fa-chevron-right fa-fw"></i>Til Partnere</a>
							</footer>
						</section>
			
				</div>
			</div>
		</div>
	</div>
</section>