<!-- services.html -->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			
			<div class="8u  12u(2) important(2)">
				<div id="content">

					<!-- Content -->
				
						<article>
							<header>
								<h2>Tjenester</h2>
								<p><!-- insert subtitle here --></p>
							</header>
							
							<span class="image featured"><img src="images/service-pic1.jpg" alt="" /></span>
							
							<p>
								Mentor Network leverer tjenester innen mentorering, foredrag og dialogmøter for selskaper og etater som jobber med tiltak for å få folk ut i arbeid.
								Når vi får en mentorbestilling vil vi raskt finne en mentor som matcher bestillingen.
								<li> Det avtales med kursinstruktør og deltaker.</li> 
								<li> Mentor møter kursinstruktør og kursdeltaker for å snakke sammen, innledende med kursinstruktør og senere ca. 45 min med kursdeltaker.</li>
								<li> Mentor tar en felles oppsummering av møtet med både kursinstruktør og kursdeltaker. </li>
								<li> Mentor skriver en utfyllende rapport om mentorsesjonen og videre tiltak for kursdeltaker.</li>

							</p>
							<p>
								Fellesforståelse av språk, kultur og normer gjør vårt arbeid enklere med å skape trygghet slik at tillitt skapes. Arbeidsverdier og sosiale koder kan også enklere forklares og overføres til deltakerne.
								Våre verdier er styrke, kunnskap, tillit og respekt for ulikhet.
							</p>
							<p>
								Det er vårt mål å engasjere flere kompetente, kunnskapsrike mentorer med egenskaper for å lære bort livserfaringer. Mentorer som er lydhør overfor behovene til deltakterne og kursinstruktørene. Alle mentorene hos Mentor Network vil oppfylle kravene om taushetsplikt og gjensidig respekt ovenfor deltakerne.
							</p>
							
							<h3>Fokusområder</h3>
							
							<ul style="list-style-type: disc; margin-left: 20px;">
								<li>
									Yrkesrettet veiledning innen sitt fagfelt.
								</li>
								<li>
									Foredrag og dialogmøter for kursinstruktører/ledere.
								</li>

								<li> 
									Forståelse for normer og regler i norsk arbeidsliv.
								</li>

								<li>
									Deler av teoridelen på morsmål innen områder det er viktig med transnasjonal forståelse.
								</li>

								<li> 
									Samarbeid med arbeidsgivere og praksisplass ved samtykke.
								</li>

								<li>
									Inspirere til høyre utdanning, fagbrev og praksisrettet arbeid.
								</li>
								<li>
									Nettverksbygging.
								</li>
								
							</ul>
					

							<p>
								Dette er noe av tjenestene vi leverer. Vi er dyktige på å følge opp hver bestilling slik at kvaliteten på tjenestene som leveres holder en høy standard.
							</p>
						</article>
			
				</div>
			</div>
			<div class="4u 12u(2)">
				<div id="sidebar">

					<!-- Sidebar -->
				
						<section>
							<h3>Tilbakemeldinger</h3>
							<p><i>"Takk for Mentorrapporten. Jeg opplever at det var veldig bra og nyttig for vår deltaker å få denne samtalen med mentor: Kursinstruktør hos Podium AS"</i></p>
							<h3>Ta kontakt</h3>
							<p>Benytt våre kontaktskjema eller ta direkte kontakt med Mentor Network for uforpliktende samtale.</p>
							<footer>
								<a href="#contact" class="button"><i class="fa fa-chevron-right fa-fw"></i>kontakt oss</a>
							</footer>
						</section>

						<section>
							
							<footer>
								<a href="#partners" class="button"><i class="fa fa-chevron-right fa-fw"></i>Til Partnere</a>
							</footer>
						</section>
			
				</div>
			</div>
		</div>
	</div>
</section>